:root {
    --bg-button: white;
    --border-button: solid 1px #888;
}

.button {
    font-size: 1.4em;
    background-color: var(--bg-button);
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
    width: 100%;
    height: 100%;
}

.button:active {
    background-color: rgb(204, 215, 221);
}
.button.double {
    grid-column: span 2;
}
.button.triple{
    grid-column: span 3;
}
.button.operation {
    background-color: rgb(204, 215, 221);
}
.button.operation:active {
    background-color: rgb(167, 182, 190);
}